// Mixins should be included first in a rule

 
// Text
@mixin text($size: nul, $l-height: null, $weight: null, $color: null) {  //null is excepted for all args
  font-size: $size;
  line-height: $l-height;
  font-weight: $weight;
  color: $color;
}


// Background Image
@mixin bg_img ($img) {
	background-image: url('#{$path--img}/#{$img}');
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	background-size: cover;
	-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
	// width: 100%;
	height: 300px;
		@media #{$brk-sm} { 
			height: 400px;
		}
		@media #{$brk-md}{
			background-attachment: fixed !important;
			height: 450px;
		}
		@media #{$brk-lg}{
			height: 500px;
		}
}