/* --------------------------------------------------
                    Mixins
-------------------------------------------------- */
@mixin section {
	margin-top: 10%;
	margin-bottom: 10%;

  @include media('<=portrait') {
  //@media (max-width:768px) {
    padding-right: 8%;
    padding-left: 8%;
  }
  @include media( '>portrait', '<=sm') {
	//@media (max-width:768px) {
		padding-right: 8%;
		padding-left: 8%;
	}
  @include media('>sm', '<=md') {
  //@media (max-width:991px) {
    padding-right: 12%;
    padding-left: 12%;
  }
}


// Text
@mixin text($color: null, $size: nul, $weight: null, $l-height: null) {  //null is excepted for all args
  color: $color;
  font-size: $size;
  font-weight: $weight;
  line-height: $l-height;
}


// Background Image
@mixin bg_img ($img) {
  @include media('>=sm') {
		height: 400px;
	}
	@include media('>=md') {
		height: 450px;
	}
	@include media('>=lg') {
		background-attachment: fixed !important;
		height: 500px;
	}

	background-image:  url('#{$path--img}/#{$img}');
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	background-size: cover;
	-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
	width: 100%;
	height: 300px;
}


// Background Thankyou/Error Page Image
@mixin bg_img2 ($img) {
  background-color: #7FAFE7;
  background-image:  url('#{$path--img}/#{$img}');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-size: cover;
  -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}





//REMOVE LATER
@mixin mq($breakpoint) {
  // $mq-xs: "(max-width: 767px)";
  // $mq-sm: "(min-width: 768px) and (max-width: 991px)";
  // $mq-md: "(min-width: 992px) and (max-width: 1199px)";
  // $mq-lg: "(min-width: 1200px)";
  // $mq-xl: "(min-width: 1450px)";

  @if $breakpoint == portrait {
    @media #{$mq-portrait} {
    	@content;
    }
  }
  @if $breakpoint == xs {
    @media #{$mq-xs} {
    	@content;
    }
  }
  @else if $breakpoint == sm {
    @media #{$mq-sm} {
    	@content;
    }
  }
  @else if $breakpoint == md {
    @media #{$mq-md}  {
    	@content;
    }
  }
  @else if $breakpoint == lg {
    @media #{$mq-lg}  {
    	@content;
    }
  }
  @else if $breakpoint == xl {
    @media #{$mq-xl}  {
    	@content;
    }
  }

  @else if $breakpoint == retina {
    @media
      only screen and (-webkit-min-device-pixel-ratio: 2),
      only screen and (   min--moz-device-pixel-ratio: 2),
      only screen and (     -o-min-device-pixel-ratio: 2/1),
      only screen and (        min-device-pixel-ratio: 2),
      only screen and (                min-resolution: 192dpi),
      only screen and (                min-resolution: 2dppx) {
        @content;
      }
  }
}
