/* --------------------------------------------------
                    LAYOUT
-------------------------------------------------- */



#bigday, #venue, #room, #guestbook, #registry  {
  @include section;
}

#contact {
	@include section;
	margin-bottom: 0;
}

.v-center {

  position: relative;
  top: 50%;
  transform: translateY(-50%);
  // margin-left: auto;
  // margin-right: auto;

}




.l-pad {
  //padding-left: ; //8.33333%  1.5em
}
.r-pad {
  //padding-right: 8.33333%;
}
.pad {
	padding: 12%; //used for circle images
}


/*CENTER COL IN BOOTSTRAP*/
.col-centered{
    float: none;
    margin: 0 auto;
}