/* --------------------------------------------------
                    BUTTONS
-------------------------------------------------- */
.btn-success {
    color: #fff;
    background-color: $color-one;
    border-color: #4cae4c;  //change
}

button {
	outline: 0;
}