/* --------------------------------------------------
                    BUTTONS
-------------------------------------------------- */
.btn-success {
    color: #fff;
    background-color: $color-one;
    border-color: #4cae4c;  //change
}

button {
	outline: 0;
}

#rsvp {
	button {
		margin-top: .5rem;
	}
}

.b-pad {
	margin-top: 15px;
}