/* --------------------------------------------------
                      FORM
-------------------------------------------------- */
.msg {
  @media #{$brk-sm}{
    padding-right: 1rem;
    padding-left: 1rem;
  }
}

#myModal {
  label {
    font-weight: 400;  //decrease our label's font weight from bold to a medium weight
  }
  #radios {
    margin-left: 10px;  //shift radio buttons left
    @media #{$brk-sm}{
      margin-left: 20px;  //shift radio buttons left
    }
    @media #{$brk-md}{
      margin-left: 60px;  //shift radio buttons left
    }
      label {
        @media (max-width: 480px){
          font-size: .9rem;
        }
      }
  }
}

    

//Custom class for form labels: .input-x
@media (max-width: 992px) {
@media screen and (-webkit-min-device-pixel-ratio:0){
  .input-group-x input[type=date],.input-group-x input[type=time],.input-group-x input[type=datetime-local],.input-group-x input[type=month],input[type=date].input-x,input[type=time].input-x,input[type=datetime-local].input-x,input[type=month].input-x{
    line-height:46px
  }
}

.input-x{
  height:46px;
  padding:10px 16px;
  font-size:.9rem;
  line-height:1.3333333;
  border-radius:6px
}

.form-group-x .form-control+.form-control-feedback,.input-group-x+.form-control-feedback,.input-x+.form-control-feedback{
  width:46px;
  height:46px;
  line-height:46px
}
}