/* --------------------------------------------------
              HERO/JUMBOTRON RSVP - SECTION
-------------------------------------------------- */







#rsvp {

  text-align: center; //from treehouse
  margin-bottom: 0; 
  color: $white; //text color
  font-family: $font-family--raleway;


  text-align: center; /*from treehouse*/
  margin-bottom: 0; /*my edits*/
  height: 300px;

    // @media screen and (min-width: 992px) {
    //     height: 700px;
    // }
    h2 {
      font-weight: 100;
      text-shadow: 1px 1px 1px grey;
      font-size: 2rem;
      color: $white; //text color
        @media (min-width: 700px) and (max-width: 900px){ 
          font-size: 2.5rem;
        }
        @media (min-width: 901px){
          font-size: 3rem;
        }
    }
    h1 {
      font-weight: 100;
      text-shadow: 1px 1px 1px grey;
      font-size: 3.5rem;
      color: $white; //text color
        @media (min-width: 700px) and (max-width: 900px){ 
          font-size: 4.5rem;
        }
        @media (min-width: 901px){
          font-size: 5.5rem;
        }
        // .title {
        //   // font-weight: 100;
        //   font-size: 3rem;
        //   @media (min-width: 700px) and (max-width: 900px){ 
        //   font-size: 4rem;
        //   }
        //   @media (min-width: 901px){
        //   font-size: 5rem;
        //   }
          // margin-top: .9em;
          // margin-bottom: 0;
        



        span {
          
          @media (max-width: 500px){
            padding-left: 8rem;
            padding-right: 8rem;
            font-size: 3rem;
          }
        }


    }
    p {
      color: $white;
    }




}



.jumbotron .container {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}