
#rsvp {
	background-position: bottom center;
// 		
// 	600/1200/1800	
// 	900/1800/2700(3600)	
// 	1200/2400/3600		
// 	1800/3600				

// Defaults
	@include bg_img("bg/banner-600.jpg");
	@include media('retina2x'){
		@include bg_img("bg/hi2.jpg");	
	}

	@include media('>600px') {
		@include bg_img("bg/banner-900.jpg");
		@include media('retina2x'){
			@include bg_img("bg/hi2.jpg");	
		}
	}
	@include media('>900px') {
		@include bg_img("bg/banner-1200.jpg");
	}

	@include media('>1200px') {
		@include bg_img("bg/banner-1800.jpg");
		@include media('retina2x'){
			@include bg_img("bg/hi2.jpg");	
		}
	}

	@include media('>1800px') {
		@include bg_img("bg/banner-2400.jpg");
		background-position: bottom center;
		@include media('retina2x'){
			@include bg_img("bg/hi2.jpg");	
		}
	}

	//background-position: bottom center;
}



#venue {
	@include bg_img("bg/hi2.jpg");
}
#view {
	@include bg_img("bg/temp.jpg");
}

    .featurette-image {
       box-shadow: 10px 10px 5px #888888;
    }
#bigday .featurette-image, #contact .featurette-image {
  box-shadow: 3px 3px 5px #888888;
}

#contact img {
	// padding: 20%;
	// 	@media #{$brk-sm} { 
	// 		padding: 20%;
	// 	}
	// 	@media #{$brk-md}{
	// 		padding: 12%;
	// 	}
	// 	@media #{$brk-lg}{
	// 		padding: 12%;
	// 	}
	max-width: 80%;
}