

/**  Google Maps **/
// #google_map {
// height: 500px;
// }


#rsvp {

  background-image: url('#{$path--img}/bg/pic2.jpg');

  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;

  background-repeat: no-repeat;
  background-position: center center;
 

		@media #{$brk-sm} { 
			background-size: cover;
			height: 400px;
		}

		@media #{$brk-md}{
			background-size: cover;
			height: 450px;
			padding-top: 125px;
			padding-bottom: 125px;
			 background-attachment: fixed;
		}

		@media #{$brk-lg}{
			height: 500px;
		}
}

// #venue {
// 	background-image: url('#{$path--img}/bg/hi2.jpg');
// 	background-position: center center;
// 	background-repeat: no-repeat;
// 	background-size: cover;
// 	// background-attachment: fixed;  //REMOVED BG FIXED
// 	// width: 100%;
// 	height: 300px;

// 		@media #{$brk-sm} { 
// 			background-size: cover;
// 			height: 400px;
// 		}

// 		@media #{$brk-md}{
// 			background-size: cover;
// 			height: 450px;
// 			padding-top: 125px;
// 			padding-bottom: 125px;
// 		}

// 		@media #{$brk-lg}{
// 			height: 500px;
// 		}
// }
#venue {
	@include bg("bg/hi2.jpg");
}
#view {
	@include bg("bg/temp.jpg");
}

#rsvp {
	@include bg("bg/pic2.jpg");
}
// @mixin bg_img($img, $h: null, $w: null) {  //only $size is required
// 	background-image: url('#{$path--img}/#{$img}');  //url('#{$path--img}/bg/hi2.jpg');
// 	background-position: center center;
// 	background-repeat: no-repeat;
// 	background-size: cover;
// 	height: $height; //300px;
//}
#view {
	// background-image: url('#{$path--img}/bg/temp.jpg');
	// background-position: center center;
	// background-repeat: no-repeat;
	// background-size: cover;
	// // background-attachment: fixed;  //REMOVED BG FIXED
	// // width: 100%;
	// height: 300px;

		// @media #{$brk-sm} { 
		// 	background-size: cover;
		// 	height: 400px;
		// }

		// @media #{$brk-md}{
		// 	background-size: cover;
		// 	background-attachment: fixed;
		// 	height: 450px;
		// 	padding-top: 125px;
		// 	padding-bottom: 125px;
		// }

		// @media #{$brk-lg}{
		// 	background-size: cover;
		// 	background-attachment: fixed;
		// 	height: 500px;
		// }
}