#google_map {
  height: 450px;
  @media (max-width: 1199px){
  	//display: none;
  }

  @include media('>=portrait') {
    height: 300px;
  }
  @include media('>=sm') {
    height: 300px;
  }
  //Medium devices (992px and up)
  @include media('>=md') {
    height: 500px;
  }
  //Medium devices (992px and up)
  @include media('>=lg') {
    height: 500px;
  }


}
#venue {
  margin-bottom: 0;
}
