/* --------------------------------------------------
                    Modals
-------------------------------------------------- */
.close {
  font-size: 2rem; //close "X" icon
}

.modal-footer {
  .centered { //used to center button
    text-align:center;
  }
}

#myModal {
  h2 {
    font-size: 2.5rem;
  }
  .info {  //h3 headings of each form section
    font-size: 1.02rem;
    margin: 0 0 15px 15px;
    font-weight: 600;
  }
  p {
    font-size: 1rem;
  }
  .note {  //side note
    font-size: .9rem;
    margin: 15px;
  }
  .modal-body .fa {  //fa icon
    font-size: .75rem;
  }
}



// Modal Updates

#flickr-album .modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
}

  /* Modal Body */
  #flickr-album .modal-body {
    position: absolute;
    top: 50%;
    width: 100%;
    //bottom:;
    /*z-index: ;*/
    /*font-weight: 300;*/
    overflow: none; /*auto;*/
    transform: translateY(-50%);
  }

  /*Modal Dialog*/
  #flickr-album .modal-dialog {
    position: fixed;
    margin: 0;
    width: 100%;
    height: 100%;
    padding: 0;
  }

/* Modal Content */
  #flickr-album .modal-content {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border: 2px solid #3c7dcf;
    border-radius: 0;
    box-shadow: none;
    background: black;
  }



/* Modal Title */
  .modal-title {
    font-size: 2rem;
    padding-left: 28.813px;
  }
  @media (min-width: 992px) {
    .modal-title {
      font-size: 2.5rem;
    }
  }
  modal-title {
    /*delete?*/
    /*font-weight: 300;
    font-size: 2em;
    color: #fff;
    line-height: 30px;*/
  }
  #dropittomeModal .modal-title {
    margin-bottom: .75rem;
  }


  /*Modal Close button*/
  .close {
    font-size: 2.5rem;
    z-index: 100;
  }
#flickr-album .close {
      margin-right: 20px;
      margin-top: 10px;
      color: white;
      text-shadow: none;
      opacity: .9;
      position: relative;
}
  #flickr-album .close:focus, #flickr-album .close:hover {
      color: white;
      opacity: .4;
  }

  #view-album {
      float: left;
      margin-top: 21px;
      margin-left: 15px;
      font-size: 1.2rem;
      color: #1E90FF;
      z-index: 100;
      position: relative;
    }





    #viewButton {
      margin-top: 1.5rem;
    }
    @media screen and (min-width: 450px) {
      #viewButton {
        margin-right: 2rem;
      }
    }

    #shareButton,
    #dropittomeButton,
    #dropboxButton {
      padding: 10px 35px;
    }
    .dropboxModalpad {
      padding-right: 2rem;
      padding-left: 2rem;
    }

    #dropboxModal .highlightText {
      font-size: 1.05rem;
    }
    /*Screen size < 1250px*/
    #dropboxButton {
      display: inline-block;
      margin-top: 1.5rem;
    }
    #dropittomeButton{
      display: none;
    }
    /*Screen size > 1250px*/
    @media screen and (min-width: 1250px) {
      #viewButton {
        margin-top: 0;
      }
      #dropboxButton {
        display: none;
      }
      #dropittomeButton{
        display: inline-block;
      }
    }
