/* --------------------------------------------------
                      Modal
-------------------------------------------------- */
.close {
  font-size: 2rem; //close "X" icon
}

.modal-footer {
  .centered { //used to center button
    text-align:center;
  }
}

#myModal {
  h2 {
    font-size: 2.5rem;
  }
  .info {  //h3 headings of each form section
    font-size: 1.02rem;
    margin: 0 0 15px 15px;
    font-weight: 600;
  }
  p {
    font-size: 1rem;
  }
  .note {  //side note
    font-size: .9rem;
    margin: 15px;
  }
  .modal-body .fa {  //fa icon
    font-size: .75rem;
  }
}