/* --------------------------------------------------
                  NAVIGATION
-------------------------------------------------- */

/**  Header Navigation **/
header {
  .navbar {
    //transition: all 1s ease-out; //transition added via jquery
  }
  .navbar-default {
    border: none;
    text-shadow: none;
  }
  .navbar-fixed-bottom .navbar-collapse, .navbar-fixed-top .navbar-collapse { //makes scrollable on ios devices
    max-height: none;
  }
}


/* --------------------------------------------------
              Navigation Links (tabs)
-------------------------------------------------- */
.navbar-default .navbar-nav {

  // Inactive State
  > li > a {
    color: $color-primary;
    @media (min-width: 700px) and (max-width: 900px){
      font-size: 14px;
      padding-left: 8px;
      padding-right: 8px;
    }
    &:focus, &:hover {
      background-color: $color-secondary;
      color: $color-text-light;
    }
  }

  // Active State
  > .active > a {
    background-color: $color-primary;
    color: $color-text-light;
    font-weight: $font-weight--ultra-bold;
    &:focus, &:hover {
      background-color: $color-secondary;
      color: $color-text-light;
    }
  }

}


/* --------------------------------------------------
                  Navbar Brand
-------------------------------------------------- */
.navbar-brand {
  padding-top: 6px;
  @include mq(sm) {
      padding-left: 50px;
    }
    @media (min-width: 760px) and (max-width: 1100px){
    display: none;
  }
}
.navbar-brand h1 {
  @include text($color-primary, 1.8rem, $font-weight--medium);
  font-family: $font-family--damion;
  margin: 0;
}


/* --------------------------------------------------
      Navbar with .scrolledPastHeader activated
-------------------------------------------------- */
.scrolledPastHeader {  //CHANGED FROM .navbar.inbody
  @extend %b-border;
  background: $semi-transparent; //background color on navigation
  border-radius: 0; //removes rounded edge of border on navigation
  padding-top: 0;
  padding-bottom: 0;
}


/* --------------------------------------------------
              Navbar Toggle
-------------------------------------------------- */
.navbar-toggle {
  background-color: $color-primary; //Toggle color
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: $white; //Toggle horizonal lines
}
@media only screen
and (max-width: 768px) {
  .navbar-collapse.in {
  	/*** Dropdown Toggle Menu (on small screens) ***/
    background-color: $semi-transparent;
    // z-index: 100;
  }
}
.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background-color: $color-secondary;
}
