@import url("http://fonts.googleapis.com/css?family=Pacifico|Kaushan+Script|Courgette|Marck+Script|Damion|Yellowtail|Raleway:400,100|Roboto");
#venue .row {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%); }

.navbar.inbody {
  border-bottom: 1px solid #E7E7E7; }

a:link, a:visited, a:hover, a:active {
  text-decoration: none;
  outline: 0; }

/**  Basic Page CSS **/
body, html {
  height: 100%;
  width: 100%; }

header .hides {
  display: none; }

/* --------------------------------------------------
                  TYPOGRAPHY
-------------------------------------------------- */
body, html {
  color: #48525C;
  font-size: 100%;
  background: #F5F5F5;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; }

h1, h2, h3, h4, h5, h6 {
  margin-top: 0; }

/* .rwd-line {
  display: block;
  font-size: 3rem;
  @media (max-width: 500px){
    display: inline;
  }
  @media (min-width: 1000px){
    display: inline;
  }
} */
/* --------------------------------------------------
                  Links
-------------------------------------------------- */
/* Center align the text within the three columns below the carousel */
/*.marketing .col-lg-4 {
  margin-bottom: 20px;
  text-align: center;
}*/
.marketing h2 {
  /*ONLY ONE NEEDED*/
  font-weight: normal; }

/*.marketing .col-lg-4 p {
  margin-right: 10px;
  margin-left: 10px;
}*/
/* Featurettes
------------------------- */
.featurette-divider {
  margin: 80px 0;
  /* Space out the Bootstrap <hr> more */ }

/* Thin out the marketing headings */
.featurette-heading {
  font-size: 2.25rem;
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px;
  /*margin-top: 0;*/
  /* MY EDIT */ }

#venue .featurette-heading {
  font-size: 1.25rem; }
  @media (min-width: 768px) {
    #venue .featurette-heading {
      font-size: 2.25rem; } }

/* --------------------------------------------------
                    LAYOUT
-------------------------------------------------- */
#bigday, #venue, #room, #guestbook, #registry {
  margin-top: 10%;
  margin-bottom: 10%; }
  @media (max-width: 991px) {
    #bigday, #venue, #room, #guestbook, #registry {
      padding-right: 7%;
      padding-left: 7%; } }

#contact {
  margin-top: 10%;
  margin-bottom: 10%;
  margin-bottom: 0; }
  @media (max-width: 991px) {
    #contact {
      padding-right: 7%;
      padding-left: 7%; } }

.v-center {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%); }

.pad {
  padding: 12%; }

/*CENTER COL IN BOOTSTRAP*/
.col-centered {
  float: none;
  margin: 0 auto; }

.arrow {
  width: 50px;
  margin-top: 150px; }

/**  Google Maps **/
#rsvp {
  background-image: url("../img/bg/bg-sm.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  width: 100%;
  height: 300px;
  background-position: bottom center; }
  @media (min-width: 768px) {
    #rsvp {
      height: 400px; } }
  @media (min-width: 992px) {
    #rsvp {
      height: 450px; } }
  @media (min-width: 1200px) {
    #rsvp {
      background-attachment: fixed !important;
      height: 500px; } }
  @media (min-width: 320px) and (max-width: 480px) {
    #rsvp {
      background-image: url("../img/bg/bg-xs.jpg");
      background-position: center center;
      background-repeat: no-repeat;
      background-size: cover;
      background-size: cover;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      width: 100%;
      height: 300px;
      background-position: bottom center; } }
  @media (min-width: 320px) and (max-width: 480px) and (min-width: 768px) {
    #rsvp {
      height: 400px; } }
  @media (min-width: 320px) and (max-width: 480px) and (min-width: 992px) {
    #rsvp {
      height: 450px; } }
  @media (min-width: 320px) and (max-width: 480px) and (min-width: 1200px) {
    #rsvp {
      background-attachment: fixed !important;
      height: 500px; } }
  @media (min-width: 992px) {
    #rsvp {
      background-image: url("../img/bg/bg-md.jpg");
      background-position: center center;
      background-repeat: no-repeat;
      background-size: cover;
      background-size: cover;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      width: 100%;
      height: 300px;
      background-position: bottom center; } }
  @media (min-width: 992px) and (min-width: 768px) {
    #rsvp {
      height: 400px; } }
  @media (min-width: 992px) and (min-width: 992px) {
    #rsvp {
      height: 450px; } }
  @media (min-width: 992px) and (min-width: 1200px) {
    #rsvp {
      background-attachment: fixed !important;
      height: 500px; } }
  @media (min-width: 1200px) {
    #rsvp {
      background-image: url("../img/bg/bg-lg.jpg");
      background-position: center center;
      background-repeat: no-repeat;
      background-size: cover;
      background-size: cover;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      width: 100%;
      height: 300px;
      background-position: bottom center; } }
  @media (min-width: 1200px) and (min-width: 768px) {
    #rsvp {
      height: 400px; } }
  @media (min-width: 1200px) and (min-width: 992px) {
    #rsvp {
      height: 450px; } }
  @media (min-width: 1200px) and (min-width: 1200px) {
    #rsvp {
      background-attachment: fixed !important;
      height: 500px; } }
  @media (min-width: 1450px) {
    #rsvp {
      background-image: url("../img/bg/bg-xl.jpg");
      background-position: center center;
      background-repeat: no-repeat;
      background-size: cover;
      background-size: cover;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      width: 100%;
      height: 300px;
      background-position: bottom center; } }
  @media (min-width: 1450px) and (min-width: 768px) {
    #rsvp {
      height: 400px; } }
  @media (min-width: 1450px) and (min-width: 992px) {
    #rsvp {
      height: 450px; } }
  @media (min-width: 1450px) and (min-width: 1200px) {
    #rsvp {
      background-attachment: fixed !important;
      height: 500px; } }

#venue {
  background-image: url("../img/bg/hi2.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  width: 100%;
  height: 300px; }
  @media (min-width: 768px) {
    #venue {
      height: 400px; } }
  @media (min-width: 992px) {
    #venue {
      height: 450px; } }
  @media (min-width: 1200px) {
    #venue {
      background-attachment: fixed !important;
      height: 500px; } }

#view {
  background-image: url("../img/bg/temp.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  width: 100%;
  height: 300px; }
  @media (min-width: 768px) {
    #view {
      height: 400px; } }
  @media (min-width: 992px) {
    #view {
      height: 450px; } }
  @media (min-width: 1200px) {
    #view {
      background-attachment: fixed !important;
      height: 500px; } }

.featurette-image {
  box-shadow: 10px 10px 5px #888888; }

#bigday .featurette-image, #contact .featurette-image {
  box-shadow: 3px 3px 5px #888888; }

#contact .pad {
  padding: 20%; }
  @media (min-width: 768px) {
    #contact .pad {
      padding: 20%; } }
  @media (min-width: 992px) {
    #contact .pad {
      padding: 12%; } }
  @media (min-width: 1200px) {
    #contact .pad {
      padding: 12%; } }

/* --------------------------------------------------
                    BUTTONS
-------------------------------------------------- */
.btn-success {
  color: #fff;
  background-color: #1E90FF;
  border-color: #4cae4c; }

button {
  outline: 0; }

#rsvp button {
  margin-top: .5rem; }

/* --------------------------------------------------
                      FORM
-------------------------------------------------- */
@media (min-width: 768px) {
  .msg {
    padding-right: 1rem;
    padding-left: 1rem; } }

#myModal label {
  font-weight: 400; }

#radios {
  margin-left: 10px; }
  @media (min-width: 768px) {
    #radios {
      margin-left: 20px; } }
  @media (min-width: 992px) {
    #radios {
      margin-left: 60px; } }
  @media (min-width: 320px) and (max-width: 480px) {
    #radios label {
      font-size: .9rem; } }

@media screen and (max-width: 992px) and (-webkit-min-device-pixel-ratio: 0) {
  .input-group-x input[type=date], .input-group-x input[type=time], .input-group-x input[type=datetime-local], .input-group-x input[type=month], input[type=date].input-x, input[type=time].input-x, input[type=datetime-local].input-x, input[type=month].input-x {
    line-height: 46px; } }

@media (max-width: 992px) {
  .input-x {
    height: 46px;
    padding: 10px 16px;
    font-size: .9rem;
    line-height: 1.3333333;
    border-radius: 6px; }
  .form-group-x .form-control + .form-control-feedback, .input-group-x + .form-control-feedback, .input-x + .form-control-feedback {
    width: 46px;
    height: 46px;
    line-height: 46px; } }

/* --------------------------------------------------
                      Modal
-------------------------------------------------- */
.close {
  font-size: 2rem; }

.modal-footer .centered {
  text-align: center; }

#myModal h2 {
  font-size: 2.5rem; }

#myModal .info {
  font-size: 1.02rem;
  margin: 0 0 15px 15px;
  font-weight: 600; }

#myModal p {
  font-size: 1rem; }

#myModal .note {
  font-size: .9rem;
  margin: 15px; }

#myModal .modal-body .fa {
  font-size: .75rem; }

/* --------------------------------------------------
                   CAROUSEL/SLIDE SHOW
-------------------------------------------------- */
/** Carousel Fade **/
/*lynda*/
.carousel.fade {
  opacity: 1; }

.carousel.fade .item {
  transition: opacity ease-out 0.7s;
  left: 0;
  opacity: 0;
  top: 0;
  position: absolute;
  width: 100%;
  display: block; }

.carousel.fade .item:first-child {
  top: auto;
  opacity: 0;
  position: relative; }

.carousel.fade .item.active {
  opacity: 1; }

.carousel-control {
  /*opacity: 0;*/
  /*Navigation Controls*/ }

.carousel-control.right,
.carousel-control.left {
  background-image: none;
  /*Dark shadow added by bootstrap*/ }

#featured .item {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  width: 100%;
  height: 100%; }

/*Activities Carousel*/
/*lynda*/
#fun .carousel-indicators {
  bottom: 0;
  /*indicator position*/ }

#fun .carousel-indicators .active {
  background-color: grey;
  /*indicator fill-color*/ }

#fun .carousel-indicators li {
  border-color: grey;
  /*indicator border-color*/ }

/* CAROUSEL (from bootstrap template) ***GO OVER!!!
-------------------------------------------------- */
/* Carousel base class */
.carousel {
  margin-bottom: 60px; }

#fun .carousel {
  height: 300px; }
  @media (min-width: 768px) {
    #fun .carousel {
      /* Small devices (tablets, 768px and up) */
      height: 450px; } }
  @media (min-width: 992px) {
    #fun .carousel {
      /* Medium devices (desktops, 992px and up) */
      height: 500px; } }
  @media (min-width: 1200px) {
    #fun .carousel {
      /* Large devices (large desktops, 1200px and up) */
      height: 600px; } }
  #fun .carousel p, #fun .carousel h3 {
    color: #FFFFFF; }

/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  *z-index: 10; }

/* Declare heights because of positioning of img element */
.carousel .item {
  height: 300px; }
  @media (min-width: 768px) {
    .carousel .item {
      /* Small devices (tablets, 768px and up) */
      height: 450px; } }
  @media (min-width: 992px) {
    .carousel .item {
      /* Medium devices (desktops, 992px and up) */
      height: 500px; } }
  @media (min-width: 1200px) {
    .carousel .item {
      /* Large devices (large desktops, 1200px and up) */
      height: 600px; } }

.carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 300px; }
  @media (min-width: 768px) {
    .carousel-inner > .item > img {
      /* Small devices (tablets, 768px and up) */
      height: 450px; } }
  @media (min-width: 992px) {
    .carousel-inner > .item > img {
      /* Medium devices (desktops, 992px and up) */
      height: 500px; } }
  @media (min-width: 1200px) {
    .carousel-inner > .item > img {
      /* Large devices (large desktops, 1200px and up) */
      height: 600px; } }

/* Bump up size of carousel content */
@media (min-width: 768px) {
  .carousel-caption p {
    margin-bottom: 20px;
    font-size: 21px;
    line-height: 1.4;
    color: #FFFFFF; } }

/* CAROUSEL (from other template) ***GO OVER!!!
-------------------------------------------------- */
.carousel img {
  /*".carousel-inner > .item > img" SELECTOR IN BOOTSTRAP TEMPLATE*/ }

/* --------------------------------------------------
                  NAVIGATION
-------------------------------------------------- */
/**  Header Navigation **/
header .navbar-default {
  border: none;
  text-shadow: none; }

header .navbar-fixed-bottom .navbar-collapse, header .navbar-fixed-top .navbar-collapse {
  max-height: none; }

/* --------------------------------------------------
                  Nav Links
-------------------------------------------------- */
/**  Navbar inactive state **/
.navbar-default .navbar-nav > li > a {
  color: #1E90FF; }
  @media (min-width: 700px) and (max-width: 900px) {
    .navbar-default .navbar-nav > li > a {
      font-size: 14px;
      padding-left: 8px;
      padding-right: 8px; } }

.nav > li > a {
  /* Small devices (tablets, 768px and up) */ }

.navbar-default .navbar-nav > li > a:focus,
.navbar-default .navbar-nav > li > a:hover {
  background-color: #337AB7;
  /*not sure about*/
  color: #FFFFFF; }

/**  Navbar active state **/
.navbar-default .navbar-nav > .active > a {
  background-color: #1E90FF;
  color: #FFFFFF;
  font-weight: 900; }

.navbar-default .navbar-nav > .active > a:focus,
.navbar-default .navbar-nav > .active > a:hover {
  background-color: #337AB7;
  color: #FFFFFF; }

/* --------------------------------------------------
                  Navbar Brand
-------------------------------------------------- */
.navbar-brand {
  padding-top: 6px; }
  @media (min-width: 768px) {
    .navbar-brand {
      padding-left: 50px; } }
  @media (min-width: 760px) and (max-width: 1100px) {
    .navbar-brand {
      display: none; } }

.navbar-brand h1 {
  color: #1E90FF;
  font-size: 1.8rem;
  font-weight: 400;
  font-family: Damion;
  margin: 0; }

/* --------------------------------------------------
              Navbar with .inbody class
-------------------------------------------------- */
.navbar.inbody {
  background: rgba(255, 255, 255, 0.92);
  border-radius: 0;
  padding-top: 0;
  padding-bottom: 0; }

/* --------------------------------------------------
              Navbar Toggle
-------------------------------------------------- */
header .navbar-toggle {
  background-color: #1E90FF; }

header .navbar-default .navbar-toggle .icon-bar {
  background-color: #FFFFFF; }

@media only screen and (max-width: 768px) {
  header .navbar-collapse.in {
    /*** Dropdown Toggle Menu (on small screens) ***/
    background-color: rgba(255, 255, 255, 0.92); } }

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
  background-color: #337AB7; }

/* --------------------------------------------------
              HERO/JUMBOTRON RSVP - SECTION
-------------------------------------------------- */
#rsvp {
  text-align: center;
  margin-bottom: 0;
  color: #FFFFFF;
  font-family: Raleway;
  text-align: center;
  /*from treehouse*/
  margin-bottom: 0;
  /*my edits*/
  height: 300px; }
  #rsvp h2 {
    font-weight: 100;
    text-shadow: 1px 1px 1px grey;
    font-size: 2rem;
    color: #FFFFFF; }
    @media (min-width: 700px) and (max-width: 900px) {
      #rsvp h2 {
        font-size: 2.5rem; } }
    @media (min-width: 901px) {
      #rsvp h2 {
        font-size: 3rem; } }
  #rsvp h1 {
    font-weight: 100;
    text-shadow: 1px 1px 1px grey;
    font-size: 3rem;
    color: #FFFFFF; }
    @media (min-width: 700px) and (max-width: 900px) {
      #rsvp h1 {
        font-size: 4.5rem; } }
    @media (min-width: 901px) {
      #rsvp h1 {
        font-size: 5.5rem; } }
  #rsvp p {
    color: #FFFFFF; }

.jumbotron .container {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%); }

#venue .row {
  color: #FFFFFF;
  font-size: nul;
  text-shadow: 1px 1px 1px #808080; }

#story .item {
  margin: 3px; }

#story .item img {
  display: block;
  width: 100%;
  height: 375px;
  border-radius: 3px; }
  @media (min-width: 768px) {
    #story .item img {
      height: 375px; } }
  @media (min-width: 992px) {
    #story .item img {
      height: 415px; } }
  @media (min-width: 1200px) {
    #story .item img {
      height: 400px; } }
  @media (min-width: 1450px) {
    #story .item img {
      height: 475px; } }

.owl-theme .owl-controls .owl-buttons div {
  padding: 5px 9px; }

.owl-theme .owl-buttons i {
  margin-top: 2px; }

.owl-controls .owl-buttons div {
  cursor: pointer; }

#owl-demo {
  cursor: pointer; }

@media (max-width: 900px) {
  .owl-pagination {
    display: none; } }

.owl-item.loading {
  min-height: 250px; }

/*.a2005    { background-image: url("img/story/2005.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover; }
.a2007 { background: blue; }
.a2008  { background: green; }
.a2009   { background: pink; }*/
/* Links */
body#alt {
  background: url(/img/bg/default.jpg) center center no-repeat fixed;
  background-size: cover;
  text-align: center;
  /*
     * Affix and center
     */ }
  body#alt a {
    color: #fff; }
  body#alt .site-wrapper {
    display: table;
    width: 100%;
    height: 100%;
    /* For at least Firefox */
    min-height: 100%;
    box-shadow: inset 0 0 100px rgba(0, 0, 0, 0.5); }
  body#alt .site-wrapper-inner {
    display: table-cell;
    vertical-align: top; }
  body#alt .cover-container {
    margin-right: auto;
    margin-left: auto; }
  body#alt .cover .btn-lg {
    margin-top: 1rem; }
  body#alt .site-wrapper-inner {
    /* Start the vertical centering */
    vertical-align: middle;
    padding-right: 1rem;
    padding-left: 1rem; }
  @media (min-width: 768px) {
    body#alt {
      /* Handle the widths */ }
      body#alt .cover-container {
        width: 100%;
        /* Must be percentage or pixels for horizontal alignment */ } }
  @media (min-width: 992px) {
    body#alt .cover-container {
      width: 700px; } }
  body#alt #error404 {
    color: #FFFFFF;
    font-size: 2.5rem;
    font-weight: 100;
    font-family: Raleway;
    text-shadow: 1px 1px 1px grey; }
  body#alt #thx {
    color: #FFFFFF;
    font-size: 6rem;
    font-weight: 100;
    font-family: Raleway;
    text-shadow: 1px 1px 1px grey; }

/*# sourceMappingURL=app.css.map */