/*Remove whitespace / prevent line-break*/
.nobr{
  white-space: nowrap;
}

/* featurette-headings */
.featurette-heading {
  font-size: 1.7rem;
  margin-bottom: 20px;
  /*font-weight: normal;*/
  font-weight: 400;
  line-height: 1;
  letter-spacing: -1px;
  /*margin-top: 0;*/
  /* MY EDIT */ }
   @media (min-width: 500px) {
    .featurette-heading {
      font-size: 2.5rem;
      font-weight: normal; } }
  @media (min-width: 768px) {
    .featurette-heading {
      font-size: 3rem;
      font-weight: normal; } }
  @media (min-width: 992px) {
    .featurette-heading {
      font-size: 3.2rem;
      font-weight: normal; } }
  @media (min-width: 1200px) {
    .featurette-heading {
      font-size: 3.2rem;
      font-weight: normal; } }


/*.marketing sections*/
.marketing h2 {
  font-weight: 500;
}
@media (min-width: 500px) {
  .marketing h2 {
    font-weight: normal; } }

.jumbotron {
  padding-top: 20px;
}
@media (min-width: 750px) {
  .jumbotron {
    /*margin-top: 30px;*/
  }
}

#bigday {
  margin-top: 23%;
}
@media (min-width: 500px) {
  #bigday {
    margin-top: 15%;
  }
}
@media (min-width: 768px) {
  #bigday {
    margin-top: 10%;
  }
}

#rsvp h1 {
  margin-bottom: 0;
}
@media (min-width: 768px) {
  #rsvp h1 {
    margin-bottom: 10px;
  }
}
#shareButton,
#dropittomeButton,
#dropboxButton {
  padding: 10px 35px;
}
.dropboxModalpad {
  padding-right: 2rem;
  padding-left: 2rem;
  }

/*.dropboxModalpad p::first-letter{
  margin-left: -.2rem;
}*/
.firstLetter{
  margin-left: -1.23rem;
}



#paypal > a,
#paypal > a:link,
#paypal > a:visited  {
  color: #1E90FF;
  font-weight: 300;
}
a:hover, a:active {
  color: #1E90FF;
  font-weight: 700;
}

#paypal img {
  margin-top: 1rem;
  -webkit-border-radius: 28;
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  -webkit-box-shadow: 0px 1px 3px #666666;
  -moz-box-shadow: 0px 1px 3px #666666;
  box-shadow: 0px 1px 3px #666666;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  background: #ffffff;
  padding: 10px 20px 10px 20px;
  /* border: solid #1f628d 1px; */
  text-decoration: none;
}



.marginBottom{
  margin-bottom: 1.5rem;
}

/*Modal Close button*/
.close {
    font-size: 2.5rem;
    /*float: right;*/
}

.modal-title {
  font-size: 2rem;
  padding-left: 28.813px;
}
@media (min-width: 992px) {
  .modal-title {
    font-size: 2.5rem;
  }
}


.highlightText {
  font-size: 1.18rem;
  /*font-style: italic;*/
  font-weight: 800;
}

#viewButton {
  margin-top: 1.5rem;
}
@media screen and (min-width: 450px) {
  #viewButton {
    margin-right: 2rem;
  }
}
#dropboxModal .highlightText {
  font-size: 1.05rem;
}
/*Screen size < 1250px*/
#dropboxButton {
  display: inline-block;
  margin-top: 1.5rem;
}
#dropittomeButton{
  display: none;
}
/*Screen size > 1250px*/
@media screen and (min-width: 1250px) {
  #viewButton {
    margin-top: 0;
  }
  #dropboxButton {
    display: none;
  }
  #dropittomeButton{
    display: inline-block;
  }
}



#dropittomeModal .modal-title {
  margin-bottom: .75rem;
}

#drop {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: -6rem;

}
.arrow {
  width: 60px;
  height: 60px;
  padding: 12px;
  margin-top: 0;
}















ul#flickr {
    padding: 0;
    margin: 0 auto;
}

ul#flickr li {
    list-style: none;
    display: block;
    float: left;
    margin: 0;
    padding: 5px;
}

ul#flickr li a {
    display: block;
    height: 150px;
    padding: 0;
    width: 150px;
    position: relative;
    margin: 0;
    text-decoration: none;
    cursor: pointer;
}

ul#flickr li a span {
    position: absolute;
    left: 0;
    bottom: 0;
    padding: 5px;
    width: 140px;
    color: #fff;
    font-family: arial, sans-serif;
    text-align: right;
    height: 140px;
    font-size: 15px;
    background: #000;
}

ul#flickr li a.normal span {
    display: none;
}

ul#flickr li a.normal:hover span {
    display: block;
}

ul#flickr li a.small {
    width: 75px;
    height: 75px;
    -moz-transform: scale(0.7);
    -webkit-transform: scale(0.7);
    margin: -12px;
}

ul#flickr li a.small:hover {
    -moz-transform: scale(1);
    -webkit-transform: scale(1);
    z-index: 2;
}

ul#flickr li a.small span {
    display: none;
}

ul#flickr li a.large {
    width: 300px;
    height: 300px;
}

ul#flickr li a.large span {
    height: auto;
    width: 290px;
    text-transform: uppercase;
    opacity: 0.8;
}
