// --------------------------------------------------
//               Guestbook - SECTION
//---------------------------------------------------

#paypal > a,
#paypal > a:link,
#paypal > a:visited  {
  color: #1E90FF;
  font-weight: 300;
}
#paypal img {
  margin-top: 1rem;
  -webkit-border-radius: 28;
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  -webkit-box-shadow: 0px 1px 3px #666666;
  -moz-box-shadow: 0px 1px 3px #666666;
  box-shadow: 0px 1px 3px #666666;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  background: #ffffff;
  padding: 10px 20px 10px 20px;
  /* border: solid #1f628d 1px; */
  text-decoration: none;
}

#paypal {
  margin-bottom: 5px;
}
