#story .item{
  margin: 3px;
    @media (min-width: 500px) and (max-width: 749px){
   padding-top: .5rem;
   padding-right: 2.25rem;
   padding-bottom: .5rem;
   padding-left: 2.25rem;
  }
}
.owl-carousel .owl-wrapper-outer {
    // background-color: $river-bed;
}
#story .item img{
  display: block;
  width: 100%;
  height: 375px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;


  @include media('>=portrait') {
    height: 375px;
  }
  @include media('>=sm') {
    height: 375px;
  }
  @include media('>=md') {
    height: 415px;
  }
  @include media('>=lg') {
    height: 475px;
  } 
  @media (min-width: 500px) and (max-width: 749px){
    max-height: 325px;
    //max-width: 90%;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    padding: 0 40px
  }

}
.owl-theme .owl-controls .owl-buttons div {
  padding: 5px 9px;
}
 
.owl-theme .owl-buttons i{
  margin-top: 2px;
}
.owl-controls .owl-buttons div{
  cursor: pointer;
}
#owl-demo {cursor: pointer;}

.owl-pagination {
  @media (max-width: 900px){
    display:none;
  }
}

.owl-theme .owl-controls .owl-page span{
	width: 12px;
	height: 12px;
	margin: 5px 7px;
	  @media (max-width: 900px){
    //  width: 8px;
    // height: 8px;
    // margin: 5px 3px;
  }

}
/* preloading images */
.owl-item.loading{
	min-height: 250px;  //150px original setting
	//background: url(AjaxLoader.gif) no-repeat center center
}