//ERROR and THANKYOU PAGE

/* Links */
body#alt {
  background: url(/img/bg/default.jpg) center center no-repeat fixed;
  background-size: cover;
  text-align: center;
  
    a {
      color: #fff;
    }

    .site-wrapper {
      display: table;
      width: 100%;
      height: 100%; /* For at least Firefox */
      min-height: 100%;
      -webkit-box-shadow: inset 0 0 100px rgba(0,0,0,.5);
              box-shadow: inset 0 0 100px rgba(0,0,0,.5);
    }
    .site-wrapper-inner {
      display: table-cell;
      vertical-align: top;
    }
    .cover-container {
      margin-right: auto;
      margin-left: auto;
    }

    .cover .btn-lg {
      margin-top: 1rem;
    }

      .site-wrapper-inner {
      /* Start the vertical centering */
        vertical-align: middle;
        padding-right: 1rem;
        padding-left: 1rem;    
      }
    /*
     * Affix and center
     */
    @media (min-width: 768px) {

      /* Handle the widths */
      .cover-container {
        width: 100%; /* Must be percentage or pixels for horizontal alignment */
      }
    }

    @media (min-width: 992px) {
      .cover-container {
        width: 700px;
      }
    }

    #error404 {
        @include text($color-text-light, 2.5rem, $font-weight--thin);
        font-family: $font-family--raleway;
        text-shadow: 1px 1px 1px grey;
    }

    #thx {
         @include text($color-text-light, 6rem, $font-weight--thin);
        font-family: $font-family--raleway;
        text-shadow: 1px 1px 1px grey; 
    }
}